{% extends 'template_base.html' %}

{% block contenue %}
<style>
    .hero-section {
        height: 400px;
        overflow: hidden;
    }
    .hero-bg {
        height: 400px;
        object-fit: cover;
        filter: brightness(50%);
    }
    .hero-content {
        z-index: 2;
    }

    /* Styles pour le défilement et l'effet de survol des cartes */
    .card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .card-body {
        max-height: 200px;
        overflow-y: auto; /* Spécifier le débordement vertical */
    }
</style>

<!-- Hero Section -->
<div class="hero-section position-relative text-center text-white mb-5">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/image/administration-1867877_1280.jpg" class="d-block w-100 hero-bg" alt="Image représentant l'administration">
            </div>
            <div class="carousel-item">
                <img src="/static/image/city-182223_1280.jpg" class="d-block w-100 hero-bg" alt="Image d'une ville">
            </div>
            <div class="carousel-item">
                <img src="/static/image/city-7352352_1280.jpg" class="d-block w-100 hero-bg" alt="Image d'une autre ville">
            </div>
            <div class="carousel-item">
                <img src="/static/image/istockphoto-2162033406-1024x1024.jpg" class="d-block w-100 hero-bg" alt="Image représentant une réunion professionnelle">
            </div>
        </div>
    </div>
        <div class="hero-content position-absolute top-50 start-50 translate-middle w-100">
            <h1 class="fw-bold">Gestion du Personnel</h1>
            <p class="lead">Optimisez la gestion des employés avec un suivi efficace et structuré.</p>
        </div>
</div>

<!-- Section des employés -->
<div class="row g-4">
    <!-- Employés Actifs -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
            <div class="card-header bg-primary text-white text-center">
                Employés Actifs
            </div>
            <div class="card-body overflow-auto">
                <table class="table table-bordered table-striped">
                    <thead class="table-primary">
                        <p><strong>Nombre des employés actifs:</strong> {{nombre_employes_actif }}</p>
                        <tr><th>Nom</th><th>Prénom</th></tr>
                    </thead>
                    <tbody>
                        {% for employe in employes_actifs %}
                            <tr><td>{{ employe.tnm }}</td><td>{{ employe.tpm }}</td></tr>
                        {% empty %}
                            <tr><td colspan="2" class="text-center text-muted">Aucun employé actif</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Employés partant en retraite cette année -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
            <div class="card-header bg-warning text-dark text-center">
                Employés en Retraite Cette Année
            </div>
            <div class="card-body overflow-auto">
                <table class="table table-bordered table-striped">
                    <thead class="table-warning">
                           <p><strong>Nombre Employés en Retraite Cette Année:</strong> {{nombre_employes_retraite_cette_annee}}</p>
                     
                        <tr><th>Nom</th><th>Prénom</th><th>Date de Retraite</th></tr>
                    </thead>
                    <tbody>
                        {% for employe in employes_retraite_cette_annee %}
                            <tr><td>{{ employe.tnm }}</td><td>{{ employe.tpm }}</td><td>{{ employe.date_retraite }}</td></tr>
                        {% empty %}
                            <tr><td colspan="3" class="text-center text-muted">Aucun employé partant en retraite cette année</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Employés ayant moins de 6 mois de fonction -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
            <div class="card-header bg-success text-white text-center">
                Employés avec Moins de 6 Mois de Fonction
            </div>
            <div class="card-body overflow-auto">
                <table class="table table-bordered table-striped">
                    <thead class="table-success">
                        <tr><th>Nom</th><th>Prénom</th><th>Date d'Entrée</th></tr>
                    </thead>
                    <tbody>
                        {% for employe in employes_moins_6_mois %}
                            <tr><td>{{ employe.tnm }}</td><td>{{ employe.tpm }}</td><td>{{ employe.dsb }}</td></tr>
                        {% empty %}
                            <tr><td colspan="3" class="text-center text-muted">Aucun employé avec moins de 6 mois de fonction</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
<!-- Section des Tranches d'Âge -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
            <div class="card-header bg-info text-white text-center">
                Tranches d'Âge des Employés
            </div>
            <div class="card-body">
                <div class="text-center">
                    <p><strong>Moins de 20 ans :</strong> {{ nombre_moins_20 }} employé(s)</p>
                    <p><strong>Entre 30 et 50 ans :</strong> {{ nombre_entre_30_50 }} employé(s)</p>
                    <p><strong>Entre 50 et 60 ans :</strong> {{ nombre_entre_50_60 }} employé(s)</p>
                    <p><strong>Plus de 60 ans :</strong> {{ nombre_plus_60 }} employé(s)</p>
                </div>
            </div>
        </div>
</div>
<!-- Stagiaires Actuels -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
        <div class="card-header bg-secondary text-white text-center">
            Stagiaires Actuels
        </div>
        <div class="card-body overflow-auto">
           <p><strong>Moins de stagiaires:</strong> {{ nombre_stagiaires }} stagiaire(s)</p>
                    
            <table class="table table-bordered table-striped">
                <thead class="table-secondary">
                    <tr><th>Nom</th><th>Prénom</th><th>Date Début</th><th>Date Fin</th></tr>
                </thead>
                <tbody>
                    {% for stagiaire in stagiaires_de_cette_annee %}
                        <tr>
                            <td>{{ stagiaire.tnm }}</td>
                            <td>{{ stagiaire.tpm }}</td>
                            <td>{{ stagiaire.dsb|date:"Y-m-d" }}</td>
                            <td>{{ stagiaire.ddf|date:"Y-m-d" }}</td>
                        </tr>
                    {% empty %}
                        <tr><td colspan="4" class="text-center text-muted">Aucun stagiaire actuellement</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Missions prévues dans 2 mois -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
        <div class="card-header bg-info text-white text-center">
            Missions Prévues dans 2 Mois
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-bordered table-striped">
                <thead class="table-info">
                    <tr>
                        <th>Mission</th>
                        <th>Date de Début</th>
                        <th>Lieu</th>
                        <th>Organisme</th>
                        <th>Employés Associés</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in missions_employes_statut  %}
                        <tr>
                            <td>{{ item.mission.objet }}</td>
                            <td>{{ item.mission.date_debut }}</td>
                            <td>{{ item.mission.lieu_mission }}</td>
                            <td>{{ item.mission.organisme }}</td>
                            <td>
                                <ul>
                                    {% for emp in item.employes %}
                                        <li>{{ emp.nom }} {{ emp.prenom }} - <strong>{{ emp.statut }}</strong></li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">Aucune mission prévue dans 2 mois</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Mutations de l'année en cours -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
        <div class="card-header bg-warning text-white text-center">
            Mutations de l'Année en Cours
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-bordered table-striped">
                <thead class="table-warning">
                               <p><strong>Moins Mutations de l'Année en Courss:</strong> {{ nombre_mutations_hierarchiques}} </p>
          
                    <tr>
                        <th>Employé</th>
                        <th>Fonction</th>
                        <th>Niveau</th>
                        <th>Unité Organisationnelle</th>
                        <th>Date Début</th>
                    </tr>  
                </thead>
                <tbody>
                    {% for mutation in mutations_hierarchiques %}
                        <tr>
                            <td>{{ mutation.employe.tnm}} {{ mutation.employe.tpm}}</td>
                            <td>{{ mutation.function.designation }}</td>
                            <td>{{ mutation.function.parent }}</td>
                            <td>{{ mutation.organizational_unit.designation }}</td>
                            <td>{{ mutation.date_debut|date:"Y-m-d" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center text-muted">Aucune mutation enregistrée cette année</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Employés actuellement en congé -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
        <div class="card-header bg-success text-white text-center">
            Employés Actuellement en Congé
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-bordered table-striped">
                <thead class="table-success">
                   <p><strong>Nombre Employés Actuellement en Congé:</strong> {{nombre_en_conge}}</p>
                    <tr>
                        <th>Employé</th>
                        <th>Type de Congé</th>
                        <th>Date Début</th>
                        <th>Date Retour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conge in en_conge %}
                        <tr>
                            <td>{{ conge.employe.tnm }} {{ conge.employe.tpm }}</td>
                            <td>{{ conge.typeconge.designation }}</td>
                            <td>{{ conge.date_debut_previsionnel|date:"Y-m-d" }}</td>
                            <td>{{ conge.date_retour_previsionnel|date:"Y-m-d" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-muted">Aucun employé en congé actuellement</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Employés partant aujourd'hui en congé -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
        <div class="card-header bg-warning text-white text-center">
            Employés Partant Aujourd'hui en Congé
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-bordered table-striped">
                <thead class="table-warning">
                           <p><strong>Nombre  Employés Partant Aujourd'hui en Congé:</strong> {{nombre_partent_aujourdhui}}</p>
                    <tr>
                        <th>Employé</th>
                        <th>Type de Congé</th>
                        <th>Date Début</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conge in partent_aujourdhui %}
                        <tr>
                            <td>{{ conge.employe.tnm }} {{ conge.employe.tpm }}</td>
                            <td>{{ conge.typeconge.designation }}</td>
                            <td>{{ conge.date_debut_previsionnel|date:"Y-m-d" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center text-muted">Aucun employé partant aujourd'hui en congé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Employés revenant aujourd'hui de congé -->
<div class="col-12 col-sm-6 col-md-6">
    <div class="card shadow-sm h-100 mb-2">
        <div class="card-header bg-info text-white text-center">
            Employés Revenant Aujourd'hui de Congé
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-bordered table-striped">
                <thead class="table-info">
                                 <p><strong>Nombre   Employés Revenant Aujourd'hui de Congé:</strong> {{nombre_reviennent_aujourdhui}}</p>
                    <tr>
                        <th>Employé</th>
                        <th>Type de Congé</th>
                        <th>Date Retour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conge in reviennent_aujourdhui %}
                        <tr>
                            <td>{{ conge.employe.tnm }} {{ conge.employe.tpm }}</td>
                            <td>{{ conge.typeconge.designation }}</td>
                            <td>{{ conge.date_retour_previsionnel|date:"Y-m-d" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center text-muted">Aucun employé revenant aujourd'hui de congé</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

</div>


{% endblock %}
