{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titre %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha384-pzjw8f+ua7Kw1TIq0t28W2KsmB0ETQ9i8EC5pqq8zNG7+F5Zlxa1WTTIM52WeOSf" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <style>

        body {
          background-image: url("{% static 'image/boat-5889919_1280.png' %}");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
        }
  </style>
</head>

<body>

  <button class="sidebar-toggle" onclick="toggleSidebar()">
    <i class="fas fa-bars"></i>
  </button>

  <div class="sidebar" id="sidebar">
    <div class="d-flex flex-column align-items-center mb-1 mt-2">
            <img src="{{ administration.logo.url }}" alt="Logo" class="rounded-circle mb-2" >
      <span class="h5 text-light text-center">{{ administration.nom }}</span>
    </div>

  
    

  <div class="accordion" id="menuAccordion">
        <p class="h5 text-light text-center mb-7" >    Menu </p>
    {% with url_name=request.resolver_match.url_name %}

    <!-- Accueil -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingHome">
        <button class="accordion-button {% if url_name != 'home' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHome" aria-expanded="{% if url_name == 'home' %}true{% else %}false{% endif %}" aria-controls="collapseHome">
          <i class="fas fa-home me-2"></i> Accueil
        </button>
      </h2>
      <div id="collapseHome" class="accordion-collapse collapse {% if url_name == 'home' %}show{% endif %}" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'home' %}" class="nav-link">Accueil</a>
        </div>
      </div>
    </div>

    <!-- Employé -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingEmploye">
        <button class="accordion-button {% if url_name not in 'Employee:list fonction:fonction OrganizationalUnit:list unite:unite' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEmploye" aria-expanded="{% if url_name in 'Employee:list fonction:fonction OrganizationalUnit:list unite:unite' %}true{% else %}false{% endif %}" aria-controls="collapseEmploye">
          <i class="fas fa-user-tie me-2"></i> Employé
        </button>
      </h2>
      <div id="collapseEmploye" class="accordion-collapse collapse {% if url_name in 'Employee:list fonction:fonction OrganizationalUnit:list unite:unite' %}show{% endif %}" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'Employee:list' %}" class="nav-link">Employé</a>
          <a href="{% url 'Mutation:list' %}" class="nav-link">Mutation</a>
          <a href="{% url 'fonction:fonction' %}" class="nav-link">Fonction</a>
          <a href="{% url 'OrganizationalUnit:list' %}" class="nav-link">Service</a>
          <a href="{% url 'unite:unite' %}" class="nav-link">Unité</a>
        </div>
      </div>
    </div>

    <!-- Stagiaire -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingStagiaire">
        <button class="accordion-button {% if url_name not in 'stagiaire:list parcours_stagiaire:list' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStagiaire" aria-expanded="{% if url_name in 'stagiaire:list parcours_stagiaire:list' %}true{% else %}false{% endif %}" aria-controls="collapseStagiaire">
          <i class="fas fa-user-graduate me-2"></i> Stagiaire
        </button>
      </h2>
      <div id="collapseStagiaire" class="accordion-collapse collapse {% if url_name in 'stagiaire:list parcours_stagiaire:list' %}show{% endif %}" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'stagiaire:list' %}" class="nav-link">Stagiaire</a>
          <a href="{% url 'parcours_stagiaire:list' %}" class="nav-link">Parcours stagiaire</a>
        </div>
      </div>
    </div>

    <!-- Congés -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingConge">
        <button class="accordion-button {% if url_name not in 'conge:list typeconge:typeconge' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseConge" aria-expanded="{% if url_name in 'conge:list typeconge:typeconge' %}true{% else %}false{% endif %}" aria-controls="collapseConge">
          <i class="fas fa-calendar-alt me-2"></i> Congé
        </button>
      </h2>
      <div id="collapseConge" class="accordion-collapse collapse {% if url_name in 'conge:list typeconge:typeconge' %}show{% endif %}" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'conge:list' %}" class="nav-link">Congé</a>
          <a href="{% url 'typeconge:typeconge' %}" class="nav-link">Types congés</a>
        </div>
      </div>
    </div>

    <!-- Missions -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingMission">
        <button class="accordion-button {% if url_name not in 'mission:list employe_mission:list affectation:list' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMission" aria-expanded="{% if url_name in 'mission:list employe_mission:list affectation:list' %}true{% else %}false{% endif %}" aria-controls="collapseMission">
          <i class="fas fa-tasks me-2"></i> Missions
        </button>
      </h2>
      <div id="collapseMission" class="accordion-collapse collapse {% if url_name in 'mission:list employe_mission:list affectation:list' %}show{% endif %}" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'mission:list' %}" class="nav-link">Mission</a>
          <a href="{% url 'employe_mission:list' %}" class="nav-link">Agents Missions</a>
          <a href="{% url 'affectation:list' %}" class="nav-link">Affectation</a>
        </div>
      </div>
    </div>

    <!-- Paramètres -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingParam">
        <button class="accordion-button {% if url_name != 'administration:list' %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseParam" aria-expanded="{% if url_name == 'administration:list' %}true{% else %}false{% endif %}" aria-controls="collapseParam">
          <i class="fas fa-cogs me-2"></i> Paramètres
        </button>
      </h2>
      <div id="collapseParam" class="accordion-collapse collapse {% if url_name == 'administration:list' %}show{% endif %}" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'administration:list' %}" class="nav-link">Paramètres</a>
              <a href="{% url 'complet_pdf' %}" class="nav-link">Imprimer</a>
        </div>
      </div>
    </div>
    <!-- Déconnexion -->
    <div class="accordion">
      <h2 class="accordion-header" id="headingLogout">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLogout" aria-expanded="false" aria-controls="collapseLogout">
          <i class="fas fa-sign-out-alt me-2"></i> Se Déconnecter
        </button>
      </h2>
      <div id="collapseLogout" class="accordion-collapse collapse" data-bs-parent="#menuAccordion">
        <div class="accordion-body p-2">
          <a href="{% url 'connection:logout' %}" class="nav-link">Se Déconnecter</a>
        </div>
      </div>
    </div>

    {% endwith %}
  </div>


    <div class="user-info w-100 px-2 mt-auto mt-3 text-center">
      <div class="card">
        <div class="card-body">
          {% if username %}
            <p class="mb-0 text-center"><strong>{{ username.user.tnm }} {{ username.user.tpm }}</strong></p>
            <p class="text-muted mb-1">Statut : {{ username.user.ttvst }}</p>
            <p class="text-muted mt-2"><small>Connecté(e)</small></p>
          {% else %}
            <p class="mb-0 text-light">Vous n'êtes pas connecté(e).</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="main-content-wrapper" id="main-wrapper">
    <header class="main-header shadow-sm">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-12 col-md-8 text-center mx-auto">
            <h1 class="text-center">{{ administration.nom }}</h1>
          </div>
        </div>
      </div>
    </header>


    <div class="main-content">
      {% block contenue %}{% endblock %}
    </div>

      <!-- Scroll to Top Button -->
      <button onclick="scrollToTop()" id="scrollToTopBtn" class="btn btn-secondary btn-lg rounded-circle p-3 mb-3" style="position: fixed; bottom: 90px; right: 20px; display: none;">
        <img class="bi bi-arrow-up-circle display-5" src="/static/icons/telecharger-big-arrow.png" alt="Retour en haut" width="40" height="40">
      </button>

    <footer class="text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 text-start"></div>
          <div class="col-md-10 d-flex align-items-center justify-content-center">
                <small class="text-muted">&copy; 2025 Gestion du Personnel - Tous droits réservés.</small>   </div>
          </div>
      </div>
    </footer>
  </div>
<!-- Bouton Remonter en Haut -->


<!-- Script JavaScript pour le bouton -->
<script>
    const scrollToTopBtn = document.getElementById('scrollToTopBtn');
  window.onscroll = function () {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
      scrollToTopBtn.style.display = 'block';
    } else {
      scrollToTopBtn.style.display = 'none';
    }
  };

  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
  // Afficher le bouton après avoir défilé de 20px vers le bas
  window.onscroll = function() {
    scrollFunction();
  };

  function scrollFunction() {
    const topBtn = document.getElementById("topBtn");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      topBtn.style.display = "block";
    } else {
      topBtn.style.display = "none";
    }
  }

  // Remonter en haut de la page
  function topFunction() {
    document.body.scrollTop = 0; // Pour Safari
    document.documentElement.scrollTop = 0; // Pour Chrome, Firefox, IE et Opera
  }
</script>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/scripti.js' %}"></script>

<script>
    // Afficher le bouton quand on descend de 100px
    window.onscroll = function () {
        const btn = document.getElementById("topBtn");
        btn.style.display = (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100)
            ? "block" : "none";
    };

    // Fonction de remontée
    function scrollToTop() {
        window.scrollTo({top: 0, behavior: 'smooth'});
    }
</script>
</body>
</html>
